
body { 
    font-family: sans-serif; 
    margin: 0em 0em 5em 0em; 
}

.switch {
    color: black;
    display: inline-block;
    font-size: 125%;
    background: #dddddd;
    margin: 1em 0.25em 1em 0.25em;
    padding: 0.25em;
    border-radius: 0.125em;
    min-width: 6em;
    text-align: center;
    border: 1px solid black;
}

.switch_active {
    border: 2px solid black;
    background: #ccccff;
}

.controls {
    margin: 0em;
    padding: 1em 1em 1em 1em; 
    background: linear-gradient(to right, #ffffffff, #ffffff00);
    
    position: relative;
    z-index: 1;
}

.status {
    font-size: 75%;
    width: 19em; 
    border: 1px solid #ddd; 
    background: #f8f8f8; 
    padding: 0.5em; 
    min-height: 5em;
    margin: 0em 1em 1em 0em;
}

.output {
}

.clicky { border: 1px solid black; }

.grid { 
    display: grid; 
    width: 100%; 
    grid-template-columns: max-content max-content;
    column-gap: 1em;
    row-gap: 0.25em;
}
 
.item { 
}

.buttonbox {
    padding: 1em 0em 1em 0em;
}

.big {
    font-size: 200%;
}

.preview_canvas {
    vertical-align: middle;
}

p { margin-left: 1em; margin-right: 1em; }

h1 { margin-top: 0; margin-bottom: 0.25em; }

a { text-decoration: none; }

table { border-collapse: collapse; }
td { 
    text-align: center; 
    margin: 0; padding: 0; padding-right: 0.5em; 
    vertical-align: top;
}

input[type=text] {
    width: 5em;
    font-family: monospace;
    vertical-align: middle;
    border: 1px solid #aaaaaa;
    margin: 0px 0px 1px 0px;
}

input[type=radio] {
    width: 1.5em;
    height: 1.5em;
}

input[type=color] {
    width: 2em;
    height: 2em;
    background: none;
    border: none;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

button {
    min-width: 1.5em;
    text-align: center;
    font-size: 100%;
}
